@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";
}

.font-geist-mono {
  font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


.table {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  font-family: Inter, sans-serif;
  background: #000;
  color: #fff;
}

.table__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

html, body {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.scrollable-element {
  overflow-y: scroll;
  scrollbar-width: none;
}

.scrollable-element::-webkit-scrollbar {
  display: none; 

}

.table__row {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-top: 1px solid #fff;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}

.table__row--last { 
  border-bottom: 1px solid currentColor; 
}

.table__row::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  transform: translateX(-100%);
  transition: transform 260ms cubic-bezier(.25,.8,.25,1);
  z-index: 0;
}

.table__row:hover::before,
.table__row:focus-visible::before,
.table__row--active::before {
  transform: translateX(0);
}

.table__title,
.table__desc { 
  z-index: 1; 
  margin: 0; 
  font-size: 30px;
  font-weight: 500;
}

.table__title {
  border-right: 1px solid #fff;
  padding-right: 1rem;
  font-weight: 500;
}

.table__desc {
  font-size: 22px;
  font-weight: 300;
}

.table__row:hover .table__title,
.table__row:hover .table__desc,
.table__row:focus-visible .table__title,
.table__row:focus-visible .table__desc,
.table__row--active .table__title,
.table__row--active .table__desc {
  color: #000;
}

.table__row:hover .table__title,
.table__row:focus-visible .table__title,
.table__row--active .table__title {
  border-right: 1px solid #000;
}

.table__swap {
  position: relative;
  display: grid;
  align-items: center;
}

.table__desc {
  grid-area: 1 / 1;
}

.table__alt {
  opacity: 0;
}

.table__row:hover .table__alt,
.table__row--active .table__alt {
  opacity: 1;
}

.table__row:hover .table__desc:not(.table__alt):has(+ .table__alt),
.table__row--active .table__desc:not(.table__alt):has(+ .table__alt) {
  opacity: 0;
}

.table__row > a {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-decoration: none;
  color: inherit;
}